#nav_menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 250px;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(#faf0e6, white);
}
#nav_menu img {
  width: 200px;
  height: 200px;
}
#nav_menu .navigation {
  display: flex;
  list-style: none;
  flex-direction: column;
}
#nav_menu a {
  text-decoration: none;
  color: black;
}
#nav_menu a:hover {
  color: #a88766;
}
#nav_menu .navigation li {
  padding: 2px;
  font-size: 35px;
}
#nav_menu #map_nav {
  width: 200px;
}
#nav_menu .icon_reseaux {
  display: flex;
  list-style: none;
}
#nav_menu .icon_reseaux li {
  padding: 5px;
}
#nav_menu .icon_reseaux li img {
  width: 40px;
  height: 40px;
}

body {
  overflow-x: hidden;
}

p {
  font-family: "Maitree", serif;
}

h2, ul, li {
  font-family: "Amiri", serif;
}

h1 {
  font-family: "Italianno", cursive;
}

.place {
  font-family: "Maitree", serif;
}

header {
  background-image: url(../../img/header.png);
  display: flex;
  height: 40vh;
  width: 100%;
  margin-left: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
  margin-bottom: 80px;
}
header p {
  background-color: black;
  text-align: center;
  color: white;
  width: 65%;
  height: 35%;
  margin-top: 5%;
  margin-left: 15%;
}

footer {
  display: flex;
  max-width: 1200px;
  margin-left: 250px;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background: linear-gradient(to top, #faf0e6, white);
}
footer .img_footer {
  width: 150px;
  height: 150px;
}
footer .place {
  margin: 0 auto;
}
footer .place .map_footer {
  width: 40px;
  height: 40px;
  margin: 0 auto;
}
footer .place p {
  text-align: center;
}
footer .icon_reseaux {
  display: flex;
  list-style: none;
  flex-direction: column;
}
footer .icon_reseaux li {
  padding: 5px;
}
footer .icon_reseaux li img {
  width: 40px;
  height: 40px;
  padding-right: 10px;
}

.grid {
  display: grid;
  max-width: 1200px;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 330px;
  width: 250px;
  gap: 100px;
  margin-bottom: 50px;
}
.grid .grid-items {
  width: 250px;
  border: 2px solid black;
  position: relative;
}
.grid .grid-items .price {
  position: absolute;
  left: 68%;
  top: 1%;
  background-color: black;
  color: white;
  padding: 2px;
  border-radius: 2px;
}
.grid .grid-items .material {
  position: absolute;
  right: 78%;
  bottom: 30%;
  background-color: black;
  color: white;
  padding: 4px;
  border-radius: 4px;
}
.grid .grid-items h2 {
  color: #a88766;
  margin: 0;
}
.grid .grid-items img:hover {
  filter: opacity(1);
}
.grid .grid-items img {
  width: 250px;
  height: 360px;
  filter: opacity(0.55);
  transition: 1s;
}

.article h2 {
  margin-left: 250px;
  color: #a88766;
  text-align: center;
}
.article .para_apropos {
  width: 1000px;
  text-align: center;
  margin: 0 auto;
  margin-left: 335px;
  margin-bottom: 100px;
}

form {
  margin-left: 250px;
}