#nav_menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 100%;
  margin: 0;
  background: linear-gradient(#5656b4, white);
}
#nav_menu img {
  width: 300px;
  height: 300px;
}
#nav_menu .navigation {
  display: flex;
  list-style: none;
  flex-direction: column;
}
#nav_menu .navigation li {
  padding: 5px;
  font-size: 35px;
}
#nav_menu #map_nav {
  width: 280px;
  height: 280px;
}
#nav_menu ul {
  display: flex;
  list-style: none;
}
#nav_menu li {
  padding: 10px;
}

p {
  font-family: "Maitree", serif;
}

h2, ul, li {
  font-family: "Amiri", serif;
}

h1 {
  font-family: "Italianno", cursive;
}