.article{

    h2{
    margin-left: 250px;
    color:  #a88766;
    text-align: center;
    }

    .para_apropos{
        width: 1000px;
        text-align: center;
        margin: 0 auto;
        margin-left: 330px;
    }
}