.grid{
    display: grid;
    max-width: 1200px;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 330px;
    width: 250px;
    gap: 100px;
    margin-bottom: 50px;

    .grid-items{
        width: 250px;
        border: 2px solid black;
        position: relative;

        .price{
            position: absolute;
            left: 68%;
            top: 1%;
            background-color: black;
            color: white;
            padding: 2px;
            border-radius: 2px;
        }

        .material{
            position: absolute;
            right: 78%;
            bottom: 30%;
            background-color: black;
            color: white;
            padding: 4px;
            border-radius: 4px;
        }

        h2{
            color: #a88766 ;
            margin: 0
        }

        img:hover{
            filter: opacity(1);
        }

        img{
            width: 250px;
            height: 360px;
            filter: opacity(0.55);
            transition: 1s;
        }
    }
}