.grid{
    display: grid;
    max-width: 1200px;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 330px;
    width: 250px;
    gap: 100px;
    margin-bottom: 50px;

    .grid-items{
        width: 250px;
        border: 2px solid black;

        img{
            width: 250px;
            height: auto;
        }
    }
}