#nav_menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    width: 250px;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(rgb(86, 86, 180), white);

    img{
        width: 200px;
        height: 200px;
    }

    .navigation{
        display: flex;
        list-style: none;
        flex-direction: column;
    }

    .navigation li{
        padding: 2px;
        font-size: 35px;
    }

    #map_nav{
        width: 200px;

    }

    .icon_reseaux{
        display: flex;
        list-style: none; 
        
        li{
            padding: 5px;
        img{
            width: 40px;
            height: 40px;
        }
    }
    }

   
}
